
body { background-color: rgb(255, 211, 255) ;
    padding-left: 20px }



H1 {
    color: rgb(153, 51, 102);
    text-align: center;
    font-style: italic;
    font-size: 120px

}

H2 { 
    color: rgb(153, 51, 102);
    Text-align: center

}