
body { background-image: url("marble.jpg") }



H1 {
    color: rgb(153, 51, 102);
    text-align: center;
    font-style: italic;
    font-size: 100px;
    font-family: sans-serif

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }


H2 { 
    color: rgb(153, 51, 102);
    Text-align: center;
    font-size: 50px

}

p { 
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic

}

.portfolio {
    border: 10px solid rgb(206, 12, 86);
    display: inline-block;
    width: 30%;
    height: 300px;
    box-sizing: border-box ;
    font-family: sans-serif;
    text-align: center }

    .button {
        background-color: rgb(236, 156, 203);
        border: 1px solid rgb(248, 92, 183);
        border-radius: 3px;
        margin: 15px auto;
        color: white;
        height: 30px;
        width: 150px;
       text-align: center
    }

    .button:hover { 
        background-color: rgb(216, 57, 208);
        cursor: pointer; }